DATABASE_URL=sqlite:///./resources/data/app.db
MODELS_DIR=./resources/models
MODEL_NAME=qwen3-4b-instruct-gguf
MODEL_CONTEXT_WINDOW=4096
MODEL_CPU_THREADS=8
MODEL_GPU_LAYERS=0
MODEL_VERBOSE=false

SYSTEM_PROMPT_PATH=./resources/SYSTEM_PROMPT.md